@media only screen and (max-width:480px) {
    .card input{
        width:80%;
    }
    .card button{
        width: 40%;
    }
}


@media only screen and (max-width:360px){
     .card input{
        width:90%;
    }
    .card button{
        width: 60%;
    }
}